body {
   background-color:#f4f9f9;
   font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
  font-weight: 700;
  font-size: 2rem;
  color: white !important;
  display: flex;
  align-items: center;
}

.navbar {
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: .1rem;
    background-color: #5f939a !important;
    padding: 1rem;
    box-shadow: 1px 2px 16px #bdbebf;
    border-bottom: 0;
    margin-bottom: 1rem;
  }
  
  .nav {
    padding-right: 20px;
    color: white !important;
    font-size: 1.5em !important;
  }
  
  .nav:hover {
    color: #cccccc !important;
    text-decoration: none !important;
  }

  .form-control:valid {
    background-color:  #ffffff!important;
  }

  label{
    color: #000000;
  }

  .ml-20{
    margin-left: 20rem;
  }

  /* chat room styles */
  #chat-log{
    background-color: white;
    padding:1rem;
    
    height: 24rem;
    box-shadow: 1px 2px 16px #bdbebf;
    border-radius: 8px;
    overflow-y: scroll;
  }
.msg_box{
  margin:0.5rem;
  border-radius: 7.5px;
  padding: 7px 20px 4px 7px;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px #eae6e6;
  margin:0.5rem;
  font-size: 120%;
}
.other_msg{
  margin-right:10rem;
}

.other_msg .msg_box{
  
  background-color: #5f939a;
  color:rgb(255, 255, 255);
}

.your_msg{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left:10rem;
}

.your_msg .msg_box{
  border: 0.1px solid lightgray; 
}

.other_msg .meta{
  color: wheat;
}

.meta{
  font-size: small;
  color:gray;
  display: flex;
  flex-direction: row-reverse;
}
.msg{
  margin-bottom: 1rem;
}

.btnclr{
  background-color: lightsalmon;
  color: white;
  font-weight: bold;
}

.btnclr-blue{
  background-color: #5f939a;
  color: white;
  font-weight: bold;
}

.btnclr-red{
  background-color: #BD3922;
  color: white;
  font-weight: bold;
}

/* Footer */
.social a{
  font-size: 2em;
  padding: 2rem;
}

.fa-github,
.fa-facebook,
.fa-linkedin,
.fa-instagram{
  color: rgb(255, 255, 255);
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-instagram:hover,
.fa-github:hover{
  opacity: 0.5;
}

footer{
  width: 100%;
  color: rgb(255, 255, 255);
  margin-top: 20rem;
  padding-top: 2rem;
  margin-bottom: 0px;
  background-color: #414A4C;
}

.licard::after{
  content:'';
  width:7px;
  background-color:#E37D05;
  height:100%;
  position: absolute;
  right: 0;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}

.licard{
  border-radius: 8px;
  border: 1px solid white;
  border-right: 0;
  box-shadow: 1px 2px 3px #aaaaaa;
}