{% extends 'base/base_logged_in.html' %}
{% load static %}

{% block content %}
<div class="container jumbotron mt-5">  
    <!-- JUMBOTRON -->
    <div class="row p-4">
        <h4 class="text-center"><strong>Having a tough time getting the right price for items? Welcome to NegoBot where we will assist you by telling you the potential outcome of your negotiation.</strong></h4>
    </div>
    <div class="row justify-content-md-center">
        <a href="/chat/itemList" class="btn btn-lg btnclr mr-4 mt-4"><strong>Buy a Product</strong></a>
        <a href="/chat/myItemList" class="btn btn-lg btnclr mt-4"><strong>Sell a Product</strong></a>
    </div>
</div>

{% endblock content %}