{% extends 'base/base_logged_in.html' %}
{% load static %}

{% block content %}
<div class="container-fluid row mx-0 mt-5">
<div class="col-lg-3">
    {% if item.seller.username != username %}
    <form class="form" action = '/chat/{{room_id}}/' method = "POST" >
        {% csrf_token %}
        <div class="form-group my-2 row">
            <input type="number" class="form-control col-7 ml-3" placeholder="Update target buying price" name="target"></input>
            <button type="submit" class="btn btnclr ml-3" name ="target_price">Confirm price</button>
        </div>
    </form>
    {% endif %}
    <div class="card mt-3">
        <div class="row">
            <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
                <img src="{{item.image_url}}" alt="{{item.category}}" style="width: 92%; height: 200px;">
            </div>
            <div>
                <div class="card-body d-flex justify-content-center flex-column pl-4">
                    <h4 class="card-title"><strong>{{ item.name }}</strong></h4>
                    <p class="card-text mb-1" style="color:#5f939a; font-size: 120%">Category: {{ item.category }}</p>
                    <p class="card-text mb-1" style="color:#5f939a; font-size: 120%">Description: {{ item.description }}</p>
                    <p class="card-text mb-1" style="color:#5f939a; font-size: 120%">Seller Listing Price: <i class="fas fa-rupee-sign"></i>  {{ item.listing_price }}</p>
                    {% if item.seller.username != username %}
                        <p class="card-text mb-1" style="color:#5f939a; font-size: 120%">Buyer Target Price: <i class="fas fa-rupee-sign"></i>  {{ buyer_target }}</p>
                    {% endif %}
                    <p class="card-text mb-3" style="color:#5f939a; font-size: 120%">Seller Username: {{ item.seller }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-9 container p-2">
    {% if reccomendation is not empty %}
    <div class="alert alert-info" role="alert">
        <strong class="mt-1"><em>{{reccomendation}}</em></strong>
    </div>
    {% endif %}
    <div class="form-group mb-4">
        <div  id='chat-log'></div>
    </div>
    <div class="form-group row">
        <input type="text" class="form-control col-7 mr-4 ml-3" id="chat-message-input" placeholder="Enter Message" required>
        <button type="submit" class="btn btnclr col-2 mr-1" id="chat-message-submit" value="Send">Send Message <i class="fas fa-paper-plane"></i></button>
        <form method="post" class="ml-3">
            {% csrf_token %}
            <button type="submit" class="btn btnclr-blue" id="reccomendation" name="reccomendation">Get reccomendation <i class='fas fa-robot'></i></button>
        </form>
    </div>
</div>
</div>

{{ room_id|json_script:"room-id" }}
{{ username|json_script:"user-name" }}

<script src='{% static "reconnecting-websocket.js" %}'></script>
<script>

    const roomId = JSON.parse(document.getElementById('room-id').textContent);

    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomId
        + '/'
    );

    chatSocket.onopen = function(e) {
        console.log(e)
        chatSocket.send(JSON.stringify({
            'command': 'fetch_messages',
            'room_id': roomId,
        }));
    };


    chatSocket.onmessage = function(e) {
        console.log(e)
        const data = JSON.parse(e.data);

        if (data['command'] === 'old_messages'){
            for (let i=data['messages'].length-1; i>=0; i--) {
                createMessage(data['messages'][i]);
            }
        }
        else if (data['command'] === 'new_message'){
            createMessage(data['message']);
        }
    };

    function createMessage(message){
        const userName = JSON.parse(document.getElementById('user-name').textContent);
        // create the msg and add styles
        var div_wrap=document.createElement("DIV");
        var div=document.createElement('DIV');
        div.classList.add('msg_box')
        var div_msg=document.createElement("DIV");
        div_msg.classList.add('msg');
        var div_meta=document.createElement("DIV");
        div_meta.classList.add('meta');
        div_meta.innerText=message.author+" | "+message.timestamp
        div_msg.innerText=message.content;
        div.appendChild(div_msg)
        div.appendChild(div_meta)
        div_wrap.appendChild(div)
        
        if(userName===message.author){
            div_wrap.classList.add('your_msg')
        }else{
            div_wrap.classList.add('other_msg')
        }
        
        document.querySelector('#chat-log').appendChild(div_wrap)
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const userName = JSON.parse(document.getElementById('user-name').textContent);
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'room_id': roomId,
            'from' : userName,
            'message': message,
            'command': 'new_message'
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock content %}