{% extends 'base/base_logged_in.html' %}
{% load static %}

{% block content %}
<div class="container" style="display: flex; justify-content: center;">
    <div class="card mb-3" style="width: 700px; margin-top: 3rem;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="{{item.image_url}}" alt="{{item.category}}" style="width: 260px; height: 300px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title"><strong>{{ item.name }}</strong></h4>
              <p class="card-text mb-1" style="color:#5f939a; font-size: 120%">Category: {{ item.category.lower }}</p>
              <p class="card-text mb-1" style="color:#5f939a; font-size: 120%">Description: {{ item.description }}</p>
              <p class="card-text mb-1" style="color:#5f939a; font-size: 120%">Seller Listing Price: <i class="fas fa-rupee-sign"></i>  {{ item.listing_price }}</p>
              <p class="card-text mb-3" style="color:#5f939a; font-size: 120%">Seller Username: {{ item.seller }}</p>
              {% if object.seller.username == username %}
                    <a href='/chat/listBuyers/{{object.id}}' class="btn btnclr mr-2">Interested Buyers</a>
                    <a href='/chat/updateItem/{{object.id}}' class="btn btnclr-blue mr-2">Update</a>
                    <a href='/chat/deleteItem/{{object.id}}' class="btn btnclr-red">Delete</a>
                {% elif object.seller.username != username %}
                    <button type="submit" class="btn btnclr" id="room-id-submit">Buy item</button>
                {% else %}
                    You are not logged in!
                {% endif %}
            </div>
          </div>
        </div>
    </div>
</div>

{{ object.id|json_script:"item-id" }}
{{ username|json_script:"buyer-id" }}

<script>
    document.querySelector('#room-id-submit').onclick = function(e) {
        var itemId = JSON.parse(document.getElementById('item-id').textContent);
        var buyerId = JSON.parse(document.getElementById('buyer-id').textContent);
        var roomId = itemId + buyerId;
        window.location.pathname = '/chat/' + roomId + '/';
    };
</script>
{% endblock content %}